.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 0px;
}

.formulario form {
    max-width: 90%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px 90px;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.08);
}